label {
  color: var(--color-neutral-800);
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
  font-weight: 600;
  font-size: var(--fs-400);
}

input {
  font-size: var(--fs-400);
  font-weight: 500;
  color: var(--color-neutral-900);
  background-color: var(--color-base-200);
  padding: 0.5rem 0.75rem;
  border: 1px solid var(--color-neutral-500);
  border-radius: 0.125rem;
  appearance: none;
}

input:focus {
  border: 1px solid var(--color-neutral-800);
  outline: 2px solid transparent;
  box-shadow: 0 1px 2px -1px hsla(220, 3%, 15%, 0.02);
}

:where(::placeholder) {
  color: var(--color-neutral-500);
  font-weight: 500;
}

:where(::-webkit-datetime-edit-fields-wrapper) {
  padding: 0;
}

:where(::-webkit-date-and-time-value) {
  min-height: 1.5em;
}

:where(::-webkit-datetime-edit-year-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-minute) {
  padding-inline: 0;
}

:where([type=checkbox], [type=radio]) {
  appearance: none;
  padding: 0;
  print-color-adjust: exact;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  user-select: none;
  flex-shrink: 0;
  height: 1rem;
  width: 1rem;
  color: var(--color-neutral-800);
  border: 1px solid var(--color-neutral-500);
}

:where([type=radio]) {
  border-radius: 100%;
}

:where([type=checkbox]:checked, [type=radio]:checked) {
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

:where([type=checkbox]:hover,
[type=checkbox]:focus,
[type=radio]:hover,
[type=radio]:focus) {
  border-color: transparent;
  background-color: currentColor;
}

:where([type=checkbox]:indeterminate) {
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

:where([type=checkbox]:indeterminate:hover) {
  border-color: transparent;
  background-color: currentColor;
}

:where([type=file]) {
  background: unset;
  border-color: inherit;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  font-size: unset;
  line-height: inherit;
}

:where([type=file]:focus) {
  outline: 1px auto -webkit-focus-ring-color;
}

@font-face {
  font-family: "Benzin";
  src: local("Benzin Bold"), local("Benzin"), url("/fonts/benz.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}
:where(html) {
  scrollbar-color: var(--color-neutral-600);
  accent-color: var(--color-primary-500);
  caret-color: var(--color-primary-500);
}

body {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
  font-weight: 400;
  font-size: var(--fs-400);
  color: var(--color-neutral-800);
  background-color: var(--color-base-100);
  line-height: 1.5;
}

:focus-visible {
  outline-color: var(--color-primary-500);
}

h1 {
  font-size: var(--fs-900);
  color: var(--color-neutral-900);
  font-family: benz, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
  letter-spacing: 0;
  font-weight: 700;
  line-height: 1.1;
}

h2 {
  font-size: var(--fs-800);
  color: var(--color-neutral-900);
  font-family: benz, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
  letter-spacing: 0;
  font-weight: 700;
  line-height: 1.1;
}

h3 {
  font-size: var(--fs-700);
  color: var(--color-neutral-900);
  font-family: benz, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
  letter-spacing: 0;
  font-weight: 700;
  line-height: 1.1;
}

progress {
  height: 0.5rem;
  border-radius: 0.5rem;
  background: rgba(var(--color-base-200-rgb), 1);
  overflow: hidden;
  appearance: none;
  position: relative;
  width: 100%;
}
progress::-moz-progress-bar {
  background: currentColor;
}
progress::-webkit-progress-bar {
  border-radius: 0.5rem;
  background: transparent;
}
progress::-webkit-progress-value {
  border-radius: 0.5rem;
  background: currentColor;
}
progress:indeterminate {
  background-image: repeating-linear-gradient(90deg, currentColor -1%, currentColor 10%, transparent 10%, transparent 90%);
  background-size: 200%;
  background-position-x: 15%;
  animation: progress-loading 5s ease-in-out infinite;
}
progress:indeterminate::-moz-progress-bar {
  background: transparent;
  background-image: repeating-linear-gradient(90deg, currentColor -1%, currentColor 10%, transparent 10%, transparent 90%);
  background-size: 200%;
  background-position-x: 15%;
  animation: progress-loading 5s ease-in-out infinite;
}

@keyframes progress-loading {
  50% {
    background-position-x: -115%;
  }
}
input[type=radio] {
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
  appearance: none;
  border-radius: 9999px;
  border: 1px solid currentColor;
  flex-shrink: 0;
  padding: 0;
}
input[type=radio]:focus-visible {
  outline: 2px solid currentColor;
}
input[type=radio]:checked, input[type=radio][checked=true], input[type=radio][aria-checked=true] {
  background: currentColor;
  animation: radiomark 0.3s ease-out;
  box-shadow: 0 0 0 4px var(--color-base-100) inset, 0 0 0 4px var(--color-base-100) inset;
}

@keyframes radiomark {
  0% {
    box-shadow: 0 0 0 12px var(--color-base-100) inset, 0 0 0 12px var(--color-base-100) inset;
  }
  50% {
    box-shadow: 0 0 0 3px var(--color-base-100) inset, 0 0 0 3px var(--color-base-100) inset;
  }
  100% {
    box-shadow: 0 0 0 4px var(--color-base-100) inset, 0 0 0 4px var(--color-base-100) inset;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  line-height: calc(0.25rem + 1em + 0.25rem);
  text-rendering: optimizeLegibility;
  vertical-align: baseline;
}

html {
  block-size: 100%;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
body {
  min-height: 100vh;
  min-block-size: 100%;
  overflow-x: hidden;
}

:where(img, svg, video, canvas, audio, iframe, embed, object, picture) {
  display: block;
  max-width: 100%;
}

:where(img, svg, video) {
  block-size: auto;
  max-inline-size: 100%;
}

:where(p, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word;
}

:where(ul, ol) {
  list-style-position: inside;
}

:where(ul, ol)[role=list] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  color: inherit;
  text-decoration: inherit;
}

:where(table) {
  border-collapse: collapse;
  border-spacing: 0;
}

:where(a[href],
area,
button,
input,
label[for],
select,
summary,
textarea,
[tabindex]:not([tabindex*="-"])) {
  cursor: pointer;
  touch-action: manipulation;
}

:where(input[type=file]) {
  cursor: auto;
}

:where(input[type=file])::-webkit-file-upload-button,
:where(input[type=file])::file-selector-button {
  cursor: pointer;
}

/* Animate focus outline */
@media (prefers-reduced-motion: no-preference) {
  :focus-visible {
    transition: outline-offset 145ms cubic-bezier(0.25, 0, 0.4, 1);
  }
  :where(:not(:active)):focus-visible {
    transition-duration: 0.25s;
  }
}
:where(:not(:active)):focus-visible {
  outline-offset: 3px;
}

/* Make sure users can't select button text */
:where(button,
button[type],
input[type=button],
input[type=submit],
input[type=reset]),
:where(input[type=file])::-webkit-file-upload-button,
:where(input[type=file])::file-selector-button {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;
  text-align: center;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:where(pre, code, kbd, samp) {
  font-family: monospace, monospace;
  font-size: 1em;
}

progress {
  vertical-align: baseline;
}

:root {
  color-scheme: dark;
  --color-neutral-1000: hsl(0, 0%, 100%);
  --color-neutral-1000-rgb: 255, 255, 255;
  --color-neutral-900: hsl(0, 0%, 95%);
  --color-neutral-900-rgb: 242, 242, 242;
  --color-neutral-800: hsl(0, 0%, 82.5%);
  --color-neutral-800-rgb: 210, 210, 210;
  --color-neutral-700: hsl(0, 0%, 70%);
  --color-neutral-700-rgb: 179, 179, 179;
  --color-neutral-600: hsl(0, 0%, 60%);
  --color-neutral-600-rgb: 153, 153, 153;
  --color-neutral-500: hsl(0, 0%, 50%);
  --color-neutral-500-rgb: 128, 128, 128;
  --color-neutral-400: hsl(0, 0%, 40%);
  --color-neutral-400-rgb: 102, 102, 102;
  --color-neutral-300: hsl(0, 0%, 30%);
  --color-neutral-300-rgb: 77, 77, 77;
  --color-neutral-200: hsl(0, 0%, 17.5%);
  --color-neutral-200-rgb: 45, 45, 45;
  --color-neutral-100: hsl(0, 0%, 7.5%);
  --color-neutral-100-rgb: 19, 19, 19;
  --color-neutral-000: hsl(0, 0%, 0%);
  --color-neutral-000-rgb: 0, 0, 0;
  --color-accent-900: hsl(144, 75%, 95%);
  --color-accent-900-rgb: 233, 252, 240;
  --color-accent-800: hsl(144, 75%, 82.5%);
  --color-accent-800-rgb: 177, 244, 204;
  --color-accent-700: hsl(144, 75%, 70%);
  --color-accent-700-rgb: 121, 236, 167;
  --color-accent-600: hsl(144, 75%, 60%);
  --color-accent-600-rgb: 77, 230, 138;
  --color-accent-500: hsl(144, 75%, 50%);
  --color-accent-500-rgb: 32, 223, 108;
  --color-accent-400: hsl(144, 75%, 40%);
  --color-accent-400-rgb: 26, 179, 87;
  --color-accent-300: hsl(144, 75%, 30%);
  --color-accent-300-rgb: 19, 134, 65;
  --color-accent-200: hsl(144, 75%, 17.5%);
  --color-accent-200-rgb: 11, 78, 38;
  --color-accent-100: hsl(144, 75%, 7.5%);
  --color-accent-100-rgb: 5, 33, 16;
  --color-primary-900: hsl(264, 75%, 95%);
  --color-primary-900-rgb: 240, 233, 252;
  --color-primary-800: hsl(264, 75%, 82.5%);
  --color-primary-800-rgb: 204, 177, 244;
  --color-primary-700: hsl(264, 75%, 70%);
  --color-primary-700-rgb: 167, 121, 236;
  --color-primary-600: hsl(264, 75%, 60%);
  --color-primary-600-rgb: 138, 77, 230;
  --color-primary-500: hsl(264, 75%, 50%);
  --color-primary-500-rgb: 108, 32, 223;
  --color-primary-400: hsl(264, 75%, 40%);
  --color-primary-400-rgb: 87, 26, 179;
  --color-primary-300: hsl(264, 75%, 30%);
  --color-primary-300-rgb: 65, 19, 134;
  --color-primary-200: hsl(264, 75%, 17.5%);
  --color-primary-200-rgb: 38, 11, 78;
  --color-primary-100: hsl(264, 75%, 7.5%);
  --color-primary-100-rgb: 16, 5, 33;
  --color-secondary-900: hsl(288, 75%, 95%);
  --color-secondary-900-rgb: 248, 233, 252;
  --color-secondary-800: hsl(288, 75%, 82.5%);
  --color-secondary-800-rgb: 230, 177, 244;
  --color-secondary-700: hsl(288, 75%, 70%);
  --color-secondary-700-rgb: 213, 121, 236;
  --color-secondary-600: hsl(288, 75%, 60%);
  --color-secondary-600-rgb: 199, 77, 230;
  --color-secondary-500: hsl(288, 75%, 50%);
  --color-secondary-500-rgb: 185, 32, 223;
  --color-secondary-400: hsl(288, 75%, 40%);
  --color-secondary-400-rgb: 148, 26, 179;
  --color-secondary-300: hsl(288, 75%, 30%);
  --color-secondary-300-rgb: 111, 19, 134;
  --color-secondary-200: hsl(288, 75%, 17.5%);
  --color-secondary-200-rgb: 65, 11, 78;
  --color-secondary-100: hsl(288, 75%, 7.5%);
  --color-secondary-100-rgb: 28, 5, 33;
  --color-base-900: hsl(240, 16%, 95%);
  --color-base-900-rgb: 240, 240, 244;
  --color-base-800: hsl(240, 16%, 88%);
  --color-base-800-rgb: 220, 220, 229;
  --color-base-700: hsl(240, 16%, 81%);
  --color-base-700-rgb: 199, 199, 214;
  --color-base-600: hsl(240, 16%, 60%);
  --color-base-600-rgb: 137, 137, 169;
  --color-base-500: hsl(240, 16%, 50%);
  --color-base-500-rgb: 107, 107, 148;
  --color-base-400: hsl(240, 16%, 40%);
  --color-base-400-rgb: 86, 86, 118;
  --color-base-300: hsl(240, 16%, 22%);
  --color-base-300-rgb: 47, 47, 65;
  --color-base-200: hsl(240, 16%, 15%);
  --color-base-200-rgb: 32, 32, 44;
  --color-base-100: hsl(240, 24%, 8%);
  --color-base-100-rgb: 16, 16, 25;
  --fs-900: 3.75rem;
  --fs-800: 2.25rem;
  --fs-700: 1.75rem;
  --fs-600: 1.125rem;
  --fs-500: 1.125rem;
  --fs-400: 1rem;
  --fs-300: 0.925rem;
  --fs-200: 0.875rem;
}
:root[data-theme=light] {
  color-scheme: light;
  --color-neutral-000: hsl(0, 0%, 100%);
  --color-neutral-000-rgb: 255, 255, 255;
  --color-neutral-100: hsl(0, 0%, 95%);
  --color-neutral-100-rgb: 242, 242, 242;
  --color-neutral-200: hsl(0, 0%, 82.5%);
  --color-neutral-200-rgb: 210, 210, 210;
  --color-neutral-300: hsl(0, 0%, 70%);
  --color-neutral-300-rgb: 179, 179, 179;
  --color-neutral-400: hsl(0, 0%, 60%);
  --color-neutral-400-rgb: 153, 153, 153;
  --color-neutral-500: hsl(0, 0%, 50%);
  --color-neutral-500-rgb: 128, 128, 128;
  --color-neutral-600: hsl(0, 0%, 40%);
  --color-neutral-600-rgb: 102, 102, 102;
  --color-neutral-700: hsl(0, 0%, 30%);
  --color-neutral-700-rgb: 77, 77, 77;
  --color-neutral-800: hsl(0, 0%, 17.5%);
  --color-neutral-800-rgb: 45, 45, 45;
  --color-neutral-900: hsl(0, 0%, 7.5%);
  --color-neutral-900-rgb: 19, 19, 19;
  --color-neutral-1000: hsl(0, 0%, 0%);
  --color-neutral-1000-rgb: 0, 0, 0;
  --color-accent-100: hsl(144, 75%, 95%);
  --color-accent-100-rgb: 233, 252, 240;
  --color-accent-200: hsl(144, 75%, 82.5%);
  --color-accent-200-rgb: 177, 244, 204;
  --color-accent-300: hsl(144, 75%, 70%);
  --color-accent-300-rgb: 121, 236, 167;
  --color-accent-400: hsl(144, 75%, 60%);
  --color-accent-400-rgb: 77, 230, 138;
  --color-accent-500: hsl(144, 75%, 50%);
  --color-accent-500-rgb: 32, 223, 108;
  --color-accent-600: hsl(144, 75%, 40%);
  --color-accent-600-rgb: 26, 179, 87;
  --color-accent-700: hsl(144, 75%, 30%);
  --color-accent-700-rgb: 19, 134, 65;
  --color-accent-800: hsl(144, 75%, 17.5%);
  --color-accent-800-rgb: 11, 78, 38;
  --color-accent-900: hsl(144, 75%, 7.5%);
  --color-accent-900-rgb: 5, 33, 16;
  --color-primary-100: hsl(264, 75%, 95%);
  --color-primary-100-rgb: 240, 233, 252;
  --color-primary-200: hsl(264, 75%, 82.5%);
  --color-primary-200-rgb: 204, 177, 244;
  --color-primary-300: hsl(264, 75%, 70%);
  --color-primary-300-rgb: 167, 121, 236;
  --color-primary-400: hsl(264, 75%, 60%);
  --color-primary-400-rgb: 138, 77, 230;
  --color-primary-500: hsl(264, 75%, 50%);
  --color-primary-500-rgb: 108, 32, 223;
  --color-primary-600: hsl(264, 75%, 40%);
  --color-primary-600-rgb: 87, 26, 179;
  --color-primary-700: hsl(264, 75%, 30%);
  --color-primary-700-rgb: 65, 19, 134;
  --color-primary-800: hsl(264, 75%, 17.5%);
  --color-primary-800-rgb: 38, 11, 78;
  --color-primary-900: hsl(264, 75%, 7.5%);
  --color-primary-900-rgb: 16, 5, 33;
  --color-secondary-100: hsl(288, 75%, 95%);
  --color-secondary-100-rgb: 248, 233, 252;
  --color-secondary-200: hsl(288, 75%, 82.5%);
  --color-secondary-200-rgb: 230, 177, 244;
  --color-secondary-300: hsl(288, 75%, 70%);
  --color-secondary-300-rgb: 213, 121, 236;
  --color-secondary-400: hsl(288, 75%, 60%);
  --color-secondary-400-rgb: 199, 77, 230;
  --color-secondary-500: hsl(288, 75%, 50%);
  --color-secondary-500-rgb: 185, 32, 223;
  --color-secondary-600: hsl(288, 75%, 40%);
  --color-secondary-600-rgb: 148, 26, 179;
  --color-secondary-700: hsl(288, 75%, 30%);
  --color-secondary-700-rgb: 111, 19, 134;
  --color-secondary-800: hsl(288, 75%, 17.5%);
  --color-secondary-800-rgb: 65, 11, 78;
  --color-secondary-900: hsl(288, 75%, 7.5%);
  --color-secondary-900-rgb: 28, 5, 33;
  --color-base-100: hsl(240, 16%, 95%);
  --color-base-100-rgb: 240, 240, 244;
  --color-base-200: hsl(240, 16%, 88%);
  --color-base-200-rgb: 220, 220, 229;
  --color-base-300: hsl(240, 16%, 81%);
  --color-base-300-rgb: 199, 199, 214;
  --color-base-400: hsl(240, 16%, 60%);
  --color-base-400-rgb: 137, 137, 169;
  --color-base-500: hsl(240, 16%, 50%);
  --color-base-500-rgb: 107, 107, 148;
  --color-base-600: hsl(240, 16%, 40%);
  --color-base-600-rgb: 86, 86, 118;
  --color-base-700: hsl(240, 16%, 22%);
  --color-base-700-rgb: 47, 47, 65;
  --color-base-800: hsl(240, 16%, 15%);
  --color-base-800-rgb: 32, 32, 44;
  --color-base-900: hsl(240, 24%, 8%);
  --color-base-900-rgb: 16, 16, 25;
}
@media (prefers-color-scheme: light) {
  :root[data-theme=auto] {
    color-scheme: light;
    --color-neutral-000: hsl(0, 0%, 100%);
    --color-neutral-000-rgb: 255, 255, 255;
    --color-neutral-100: hsl(0, 0%, 95%);
    --color-neutral-100-rgb: 242, 242, 242;
    --color-neutral-200: hsl(0, 0%, 82.5%);
    --color-neutral-200-rgb: 210, 210, 210;
    --color-neutral-300: hsl(0, 0%, 70%);
    --color-neutral-300-rgb: 179, 179, 179;
    --color-neutral-400: hsl(0, 0%, 60%);
    --color-neutral-400-rgb: 153, 153, 153;
    --color-neutral-500: hsl(0, 0%, 50%);
    --color-neutral-500-rgb: 128, 128, 128;
    --color-neutral-600: hsl(0, 0%, 40%);
    --color-neutral-600-rgb: 102, 102, 102;
    --color-neutral-700: hsl(0, 0%, 30%);
    --color-neutral-700-rgb: 77, 77, 77;
    --color-neutral-800: hsl(0, 0%, 17.5%);
    --color-neutral-800-rgb: 45, 45, 45;
    --color-neutral-900: hsl(0, 0%, 7.5%);
    --color-neutral-900-rgb: 19, 19, 19;
    --color-neutral-1000: hsl(0, 0%, 0%);
    --color-neutral-1000-rgb: 0, 0, 0;
    --color-accent-100: hsl(144, 75%, 95%);
    --color-accent-100-rgb: 233, 252, 240;
    --color-accent-200: hsl(144, 75%, 82.5%);
    --color-accent-200-rgb: 177, 244, 204;
    --color-accent-300: hsl(144, 75%, 70%);
    --color-accent-300-rgb: 121, 236, 167;
    --color-accent-400: hsl(144, 75%, 60%);
    --color-accent-400-rgb: 77, 230, 138;
    --color-accent-500: hsl(144, 75%, 50%);
    --color-accent-500-rgb: 32, 223, 108;
    --color-accent-600: hsl(144, 75%, 40%);
    --color-accent-600-rgb: 26, 179, 87;
    --color-accent-700: hsl(144, 75%, 30%);
    --color-accent-700-rgb: 19, 134, 65;
    --color-accent-800: hsl(144, 75%, 17.5%);
    --color-accent-800-rgb: 11, 78, 38;
    --color-accent-900: hsl(144, 75%, 7.5%);
    --color-accent-900-rgb: 5, 33, 16;
    --color-primary-100: hsl(264, 75%, 95%);
    --color-primary-100-rgb: 240, 233, 252;
    --color-primary-200: hsl(264, 75%, 82.5%);
    --color-primary-200-rgb: 204, 177, 244;
    --color-primary-300: hsl(264, 75%, 70%);
    --color-primary-300-rgb: 167, 121, 236;
    --color-primary-400: hsl(264, 75%, 60%);
    --color-primary-400-rgb: 138, 77, 230;
    --color-primary-500: hsl(264, 75%, 50%);
    --color-primary-500-rgb: 108, 32, 223;
    --color-primary-600: hsl(264, 75%, 40%);
    --color-primary-600-rgb: 87, 26, 179;
    --color-primary-700: hsl(264, 75%, 30%);
    --color-primary-700-rgb: 65, 19, 134;
    --color-primary-800: hsl(264, 75%, 17.5%);
    --color-primary-800-rgb: 38, 11, 78;
    --color-primary-900: hsl(264, 75%, 7.5%);
    --color-primary-900-rgb: 16, 5, 33;
    --color-secondary-100: hsl(288, 75%, 95%);
    --color-secondary-100-rgb: 248, 233, 252;
    --color-secondary-200: hsl(288, 75%, 82.5%);
    --color-secondary-200-rgb: 230, 177, 244;
    --color-secondary-300: hsl(288, 75%, 70%);
    --color-secondary-300-rgb: 213, 121, 236;
    --color-secondary-400: hsl(288, 75%, 60%);
    --color-secondary-400-rgb: 199, 77, 230;
    --color-secondary-500: hsl(288, 75%, 50%);
    --color-secondary-500-rgb: 185, 32, 223;
    --color-secondary-600: hsl(288, 75%, 40%);
    --color-secondary-600-rgb: 148, 26, 179;
    --color-secondary-700: hsl(288, 75%, 30%);
    --color-secondary-700-rgb: 111, 19, 134;
    --color-secondary-800: hsl(288, 75%, 17.5%);
    --color-secondary-800-rgb: 65, 11, 78;
    --color-secondary-900: hsl(288, 75%, 7.5%);
    --color-secondary-900-rgb: 28, 5, 33;
    --color-base-100: hsl(240, 16%, 95%);
    --color-base-100-rgb: 240, 240, 244;
    --color-base-200: hsl(240, 16%, 88%);
    --color-base-200-rgb: 220, 220, 229;
    --color-base-300: hsl(240, 16%, 81%);
    --color-base-300-rgb: 199, 199, 214;
    --color-base-400: hsl(240, 16%, 60%);
    --color-base-400-rgb: 137, 137, 169;
    --color-base-500: hsl(240, 16%, 50%);
    --color-base-500-rgb: 107, 107, 148;
    --color-base-600: hsl(240, 16%, 40%);
    --color-base-600-rgb: 86, 86, 118;
    --color-base-700: hsl(240, 16%, 22%);
    --color-base-700-rgb: 47, 47, 65;
    --color-base-800: hsl(240, 16%, 15%);
    --color-base-800-rgb: 32, 32, 44;
    --color-base-900: hsl(240, 24%, 8%);
    --color-base-900-rgb: 16, 16, 25;
  }
}
@media screen and (min-width: 64em) {
  :root {
    --fs-900: 3.75rem;
    --fs-800: 3rem;
    --fs-700: 1.75rem;
    --fs-600: 1.3125rem;
    --fs-500: 1.125rem;
    --fs-400: 1rem;
    --fs-300: 0.925rem;
    --fs-200: 0.875rem;
  }
}

.container {
  --padding: 1rem;
  --max-width: 64rem;
  padding-inline: var(--padding);
  max-width: var(--max-width);
  margin-inline: auto;
}
@media screen and (min-width: 37.5em) {
  .container {
    --padding: 2rem;
  }
}

.container-narrow {
  --max-width: 40rem;
}

.container-wide {
  --max-width: 75rem;
}

.container-full {
  --max-width: 100%;
}

.even-columns {
  display: grid;
  gap: var(--grid-gap, 1.5rem);
}
@media screen and (min-width: 45em) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

.auto-fit {
  display: grid;
  gap: var(--grid-gap, 1.5rem);
  grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
}

.flex {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--flex-column-gap, 1.5rem);
  row-gap: var(--flex-row-gap, 0.75rem);
  width: fit-content;
}

.section {
  padding-block: var(--section-padding-block, clamp(5rem, 10vh, 6rem));
}

.prose {
  font-size: 1rem;
  line-height: 1.75;
  max-width: 65ch;
}
.prose a {
  color: var(--color-primary-500);
  text-decoration: underline;
  font-weight: 500;
}
.prose strong {
  font-weight: 500;
  color: var(--color-neutral-900);
}
.prose p {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}
.prose .lead {
  font-size: 1.25em;
  line-height: 1.6;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}
.prose blockquote {
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  padding-left: 1em;
}
.prose h1 {
  font-size: 2.25em;
  margin-top: 0;
  margin-bottom: 0.8888888889em;
  line-height: 1.1;
}
.prose h2 {
  font-size: 1.5em;
  margin-top: 2em;
  margin-bottom: 1em;
  line-height: 1.3;
}
.prose h3 {
  font-size: 1.25em;
  margin-top: 1.6em;
  margin-bottom: 0.6em;
  line-height: 1.6;
}
.prose h4 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  line-height: 1.5;
}
.prose img,
.prose video,
.prose figure {
  margin-top: 2em;
  margin-bottom: 2em;
}
.prose figure > * {
  margin-top: 0;
  margin-bottom: 0;
}
.prose figcaption {
  font-size: 0.875em;
  line-height: 1.4;
  margin-top: 0.8571428571em;
}
.prose code {
  font-size: 0.875em;
}
.prose pre {
  font-size: 0.875em;
  line-height: 1.7;
  margin-top: 1.7142857143em;
  margin-bottom: 1.7142857143em;
  border-radius: 0.5rem;
  padding: 0.8571428571em 1.1428571429em;
}
.prose li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.prose ol,
.prose ul {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding-left: 1.625em;
}
.prose ol > li,
.prose ul > li {
  padding-left: 0.375em;
}
.prose ol > li p,
.prose ul > li p {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}
.prose ol > li > *:first-child, .prose ol > li > *:last-child,
.prose ul > li > *:first-child,
.prose ul > li > *:last-child {
  margin-top: 1.25em;
}
.prose ul ul,
.prose ul ol,
.prose ol ul,
.prose ol ol {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}
.prose hr {
  margin-top: 3em;
  margin-bottom: 3em;
}
.prose hr + *,
.prose h2 + *,
.prose h3 + *,
.prose h4 + * {
  margin-top: 0;
}
.prose table {
  font-size: 0.875em;
  line-height: 1.7;
}
.prose thead th {
  padding-right: 0.5714285714em;
  padding-bottom: 0.5714285714em;
  padding-left: 0.5714285714em;
}
.prose thead th:first-child {
  padding-left: 0;
}
.prose thead th:last-child {
  padding-right: 0;
}
.prose tbody td,
.prose tfoot td {
  padding: 0.5714285714em 0.5714285714em;
}
.prose tbody td:first-child,
.prose tfoot td:first-child {
  padding-left: 0;
}
.prose tbody td:last-child,
.prose tfoot td:last-child {
  padding-right: 0;
}
.prose > :first-child {
  margin-top: 0;
}
.prose > :last-child {
  margin-bottom: 0;
}

.breadcrumbs {
  --bc-rotate: 45deg;
  overflow-x: auto;
  padding-top: var(--size-2);
  padding-bottom: var(--size-2);
}
.breadcrumbs > ul, .breadcrumbs > ol {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.breadcrumbs > ul > li, .breadcrumbs > ol > li {
  display: flex;
  align-items: center;
}
.breadcrumbs > ul > li > a, .breadcrumbs > ol > li > a {
  display: flex;
  cursor: pointer;
  align-items: center;
}
.breadcrumbs > ul > li > a:hover, .breadcrumbs > ol > li > a:hover {
  text-decoration: underline;
}
.breadcrumbs > ul > li + *::before, .breadcrumbs > ol > li + *::before {
  content: "";
  margin-left: 0.5rem;
  margin-right: 0.75rem;
  display: block;
  width: 0.375rem;
  height: 0.375rem;
  transform: rotate(var(--bc-rotate));
  opacity: 0.5;
  border-top: 1px solid var(--color-neutral-600);
  border-right: 1px solid var(--color-neutral-600);
  background: transparent;
}

[dir=rtl] .breadcrumbs {
  --bc-rotate: -45deg;
}

.btn {
  animation: button-pop 0.3s ease-out;
  display: inline-flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  border-style: solid;
  border-width: 1px;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
  min-height: 3rem;
  padding: 0.5rem 0.75rem;
  font-size: var(--fs-400);
  background-color: var(--color-base-200);
  border-color: var(--color-base-200);
  color: var(--color-neutral-900);
  box-shadow: var(--box-shadow-3);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
.btn:hover {
  background-color: var(--color-base-300);
  border-color: var(--color-base-300);
}
.btn:focus-visible {
  outline: 2px solid var(--color-neutral-800);
}
.btn:disabled {
  background: var(--color-neutral-200);
  border-color: var(--color-neutral-200);
  opacity: 0.35;
  cursor: not-allowed;
  pointer-events: none;
}
.btn:active:hover, .btn:active:focus {
  animation: button-pop 0s ease-out;
  transform: scale(0.95);
}

@keyframes button-pop {
  0% {
    transform: scale(0.98);
  }
  40% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
.checkbox {
  flex-shrink: 0;
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
  appearance: none;
  border-radius: 0.5rem;
  padding: 0;
}
.checkbox:checked, .checkbox[checked=true], .checkbox[aria-checked=true] {
  animation: checkmark 0.3s ease-out;
}
.checkbox:indeterminate {
  animation: checkmark 0.3 ease-out;
}
.checkbox:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}

@keyframes checkmark {
  0% {
    background-position-y: 10px;
  }
  50% {
    background-position-y: -2px;
  }
  100% {
    background-position-y: 0;
  }
}
.countdown {
  display: inline-flex;
}
.countdown > * {
  height: 1em;
  width: 1em;
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  overflow-x: hidden;
}
.countdown > *::before {
  line-height: 1em;
  position: absolute;
  content: "00\a 01\a 02\a 03\a 04\a 05\a 06\a 07\a 08\a 09\a 10\a 11\a 12\a 13\a 14\a 15\a 16\a 17\a 18\a 19\a 20\a 21\a 22\a 23\a 24\a 25\a 26\a 27\a 28\a 29\a 30\a 31\a 32\a 33\a 34\a 35\a 36\a 37\a 38\a 39\a 40\a 41\a 42\a 43\a 44\a 45\a 46\a 47\a 48\a 49\a 50\a 51\a 52\a 53\a 54\a 55\a 56\a 57\a 58\a 59\a 60\a 61\a 62\a 63\a 64\a 65\a 66\a 67\a 68\a 69\a 70\a 71\a 72\a 73\a 74\a 75\a 76\a 77\a 78\a 79\a 80\a 81\a 82\a 83\a 84\a 85\a 86\a 87\a 88\a 89\a 90\a 91\a 92\a 93\a 94\a 95\a 96\a 97\a 98\a 99\a";
  white-space: pre;
  top: calc(var(--value) * -1em);
  text-align: center;
  transition: all 1s cubic-bezier(1, 0, 0, 1);
}

.divider {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: stretch;
  white-space: nowrap;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  height: 0.25rem;
}
.divider:not(:empty) {
  gap: 0.25rem;
}
.divider::before, .divider::after {
  content: "";
  flex-grow: 1;
  height: 2px;
  width: 100%;
}

.file-input {
  flex-shrink: 1;
  height: 3rem;
  padding: 0 1rem 0 0;
  line-height: 2;
  border-radius: 0.5rem;
  overflow: hidden;
}
.file-input::file-selector-button, .file-input::-webkit-file-upload-button {
  display: inline-flex;
  flex-shrink: 0;
  cursor: pointer;
  user-select: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: 0.3s ease-out;
  height: 2.875rem;
  padding: 0 1rem;
  margin-right: 1rem;
  line-height: 1em;
  font-weight: 600;
  text-transform: uppercase;
  animation: button-pop 0.3s ease-out;
  border-radius: 0;
}
.file-input:disabled, .file-input[disabled], .file-input-disabled {
  cursor: not-allowed;
}

@keyframes button-pop {
  0% {
    transform: scale(0.98);
  }
  40% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
.loading {
  pointer-events: none;
  width: 1.5rem;
  aspect-ratio: 1;
  display: inline-block;
  background-color: currentColor;
  mask-size: 100%;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-image: url("data:image/svg+xml,%3Csvg width='24' height='24' stroke='%23000' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cstyle%3E.spinner_V8m1%7Btransform-origin:center;animation:spinner_zKoa 2s linear infinite%7D.spinner_V8m1 circle%7Bstroke-linecap:round;animation:spinner_YpZS 1.5s ease-out infinite%7D%40keyframes spinner_zKoa%7B100%25%7Btransform:rotate(360deg)%7D%7D%40keyframes spinner_YpZS%7B0%25%7Bstroke-dasharray:0 150;stroke-dashoffset:0%7D47.5%25%7Bstroke-dasharray:42 150;stroke-dashoffset:-16%7D95%25%2C100%25%7Bstroke-dasharray:42 150;stroke-dashoffset:-59%7D%7D%3C%2Fstyle%3E%3Cg class='spinner_V8m1'%3E%3Ccircle cx='12' cy='12' r='9.5' fill='none' stroke-width='3'%3E%3C%2Fcircle%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='24' height='24' stroke='%23000' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cstyle%3E.spinner_V8m1%7Btransform-origin:center;animation:spinner_zKoa 2s linear infinite%7D.spinner_V8m1 circle%7Bstroke-linecap:round;animation:spinner_YpZS 1.5s ease-out infinite%7D%40keyframes spinner_zKoa%7B100%25%7Btransform:rotate(360deg)%7D%7D%40keyframes spinner_YpZS%7B0%25%7Bstroke-dasharray:0 150;stroke-dashoffset:0%7D47.5%25%7Bstroke-dasharray:42 150;stroke-dashoffset:-16%7D95%25%2C100%25%7Bstroke-dasharray:42 150;stroke-dashoffset:-59%7D%7D%3C%2Fstyle%3E%3Cg class='spinner_V8m1'%3E%3Ccircle cx='12' cy='12' r='9.5' fill='none' stroke-width='3'%3E%3C%2Fcircle%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
.loading-spinner {
  mask-image: url("data:image/svg+xml,%3Csvg width='24' height='24' stroke='%23000' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cstyle%3E.spinner_V8m1%7Btransform-origin:center;animation:spinner_zKoa 2s linear infinite%7D.spinner_V8m1 circle%7Bstroke-linecap:round;animation:spinner_YpZS 1.5s ease-out infinite%7D%40keyframes spinner_zKoa%7B100%25%7Btransform:rotate(360deg)%7D%7D%40keyframes spinner_YpZS%7B0%25%7Bstroke-dasharray:0 150;stroke-dashoffset:0%7D47.5%25%7Bstroke-dasharray:42 150;stroke-dashoffset:-16%7D95%25%2C100%25%7Bstroke-dasharray:42 150;stroke-dashoffset:-59%7D%7D%3C%2Fstyle%3E%3Cg class='spinner_V8m1'%3E%3Ccircle cx='12' cy='12' r='9.5' fill='none' stroke-width='3'%3E%3C%2Fcircle%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='24' height='24' stroke='%23000' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cstyle%3E.spinner_V8m1%7Btransform-origin:center;animation:spinner_zKoa 2s linear infinite%7D.spinner_V8m1 circle%7Bstroke-linecap:round;animation:spinner_YpZS 1.5s ease-out infinite%7D%40keyframes spinner_zKoa%7B100%25%7Btransform:rotate(360deg)%7D%7D%40keyframes spinner_YpZS%7B0%25%7Bstroke-dasharray:0 150;stroke-dashoffset:0%7D47.5%25%7Bstroke-dasharray:42 150;stroke-dashoffset:-16%7D95%25%2C100%25%7Bstroke-dasharray:42 150;stroke-dashoffset:-59%7D%7D%3C%2Fstyle%3E%3Cg class='spinner_V8m1'%3E%3Ccircle cx='12' cy='12' r='9.5' fill='none' stroke-width='3'%3E%3C%2Fcircle%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
.loading-dots {
  mask-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cstyle%3E.spinner_qM83%7Banimation:spinner_8HQG 1.05s infinite%7D.spinner_oXPr%7Banimation-delay:.1s%7D.spinner_ZTLf%7Banimation-delay:.2s%7D@keyframes spinner_8HQG%7B0%25,57.14%25%7Banimation-timing-function:cubic-bezier(0.33,.66,.66,1);transform:translate(0)%7D28.57%25%7Banimation-timing-function:cubic-bezier(0.33,0,.66,.33);transform:translateY(-6px)%7D100%25%7Btransform:translate(0)%7D%7D%3C/style%3E%3Ccircle class='spinner_qM83' cx='4' cy='12' r='3'/%3E%3Ccircle class='spinner_qM83 spinner_oXPr' cx='12' cy='12' r='3'/%3E%3Ccircle class='spinner_qM83 spinner_ZTLf' cx='20' cy='12' r='3'/%3E%3C/svg%3E");
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cstyle%3E.spinner_qM83%7Banimation:spinner_8HQG 1.05s infinite%7D.spinner_oXPr%7Banimation-delay:.1s%7D.spinner_ZTLf%7Banimation-delay:.2s%7D@keyframes spinner_8HQG%7B0%25,57.14%25%7Banimation-timing-function:cubic-bezier(0.33,.66,.66,1);transform:translate(0)%7D28.57%25%7Banimation-timing-function:cubic-bezier(0.33,0,.66,.33);transform:translateY(-6px)%7D100%25%7Btransform:translate(0)%7D%7D%3C/style%3E%3Ccircle class='spinner_qM83' cx='4' cy='12' r='3'/%3E%3Ccircle class='spinner_qM83 spinner_oXPr' cx='12' cy='12' r='3'/%3E%3Ccircle class='spinner_qM83 spinner_ZTLf' cx='20' cy='12' r='3'/%3E%3C/svg%3E");
}

.swap {
  position: relative;
  display: inline-grid;
  user-select: none;
  place-content: center;
  cursor: pointer;
}
.swap > * {
  grid-column-start: 1;
  grid-row-start: 1;
  transition-property: transform, opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.swap input {
  appearance: none;
}
.swap .swap-on, .swap .swap-indeterminate, .swap input:indeterminate ~ .swap-on {
  opacity: 0;
}
.swap input:checked ~ .swap-off, .swap.swap-active .swap-off, .swap input:indeterminate ~ .swap-off {
  opacity: 0;
}
.swap input:checked ~ .swap-on, .swap.swap-active .swap-on, .swap input:indeterminate ~ .swap-indeterminate {
  opacity: 1;
}
.swap-rotate .swap-on, .swap-rotate .swap-indeterminate, .swap-rotate input:indeterminate ~ .swap-on {
  transform: rotate(45deg);
}
.swap-rotate input:checked ~ .swap-off, .swap-rotate.swap-active .swap-off, .swap-rotate input:indeterminate ~ .swap-off {
  transform: rotate(-45deg);
}
.swap-rotate input:checked ~ .swap-on, .swap-rotate.swap-active .swap-on, .swap-rotate input:indeterminate ~ .swap-indeterminate {
  transform: rotate(0deg);
}
.swap-flip {
  transform-style: preserve-3d;
  perspective: 16em;
}
.swap-flip .swap-on, .swap-flip .swap-indeterminate, .swap-flip input:indeterminate ~ .swap-on {
  transform: rotateY(180deg);
  backface-visibility: hidden;
  opacity: 1;
}
.swap-flip input:checked ~ .swap-off, .swap-flip.swap-active .swap-off, .swap-flip input:indeterminate ~ .swap-off {
  transform: rotateY(-180deg);
  backface-visibility: hidden;
  opacity: 1;
}
.swap-flip input:checked ~ .swap-on, .swap-flip.swap-active .swap-on, .swap-flip input:indeterminate ~ .swap-indeterminate {
  transform: rotateY(0deg);
}

.table {
  position: relative;
  width: 100%;
  text-align: left;
  border-radius: 1rem;
  font-size: 0.875rem;
}
.table :where(th, td) {
  padding: 0.75rem 1rem;
  vertical-align: middle;
}
.table :where(thead, tbody) :where(tr:not(:last-child), tr:first-child:last-child) {
  border-bottom: 1px solid rgba(var(--color-base-300-rgb), 0.7);
}
.table :where(thead, tfoot) {
  font-size: 0.875rem;
  font-weight: 700;
  white-space: nowrap;
  color: rgba(var(--color-neutral-900-rgb), 0.7);
}
.table tr.active,
.table tr.active:nth-child(even), .table-zebra tbody tr:nth-child(even) {
  background: var(--color-base-200);
}
.table tr.hover:hover,
.table tr.hover:nth-child(even):hover {
  background: var(--color-base-200);
}
.table :where(.table-pin-rows thead tr) {
  position: sticky;
  top: 0;
  background: var(--color-base-100);
  z-index: 1;
}
.table :where(.table-pin-rows tfoot tr) {
  position: sticky;
  bottom: 0;
  background: var(--color-base-100);
  z-index: 1;
}
.table :where(.table-pin-cols tr th) {
  position: sticky;
  left: 0;
  right: 0;
  background: var(--color-base-100);
}
.table-zebra tr.active,
.table-zebra tr.active:nth-child(even), .table-zebra-zebra tbody tr:nth-child(even) {
  background: var(--color-base-300);
}
.table-zebra tr.hover:hover,
.table-zebra tr.hover:nth-child(even):hover {
  background: var(--color-base-300);
}
.table-zebra tobdy tr:nth-child(even) :where(.table-pin-cols tr th) {
  background: var(--color-base-200);
}

.toast {
  display: flex;
  position: fixed;
  flex-direction: column;
  min-width: fit-content;
  white-space: nowrap;
  gap: 0.5rem;
  padding: 1rem;
}
.toast > * {
  animation: toast-pop 0.3s ease-out;
}

@keyframes toast-pop {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.toggle {
  flex-shrink: 0;
  --handleOffset: 1.5rem;
  --handleOffsetCalculator: calc(var(--handleOffset) * -1);
  --toggleHandleBorder: 0 0;
  height: 1.5rem;
  width: 3rem;
  cursor: pointer;
  appearance: none;
  border: 1px solid var(--color-neutral-900);
  background: var(--color-neutral-900);
  border-radius: 999px;
  transition: 0.3s ease-out;
  box-shadow: var(--handleOffsetCalculator) 0 0 2px var(--color-base-200) inset, 0 0 0 2px var(--color-base-200) inset, var(--toggleHandleBorder);
  opacity: 0.55;
}
[dir=rtl] .toggle {
  --handleOffsetCalculator: calc(var(--handleOffset) * 1);
}
.toggle:focus {
  box-shadow: var(--handleOffsetCalculator) 0 0 2px var(--color-base-200) inset, 0 0 0 2px var(--color-base-200) inset, var(--toggleHandleBorder);
}
.toggle:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}
.toggle:checked, .toggle[checked=true], .toggle[aria-checked=true] {
  --handleOffsetCalculator: var(--handleOffset);
  opacity: 1;
  background: currentColor;
  border-color: currentColor;
}
.toggle:indeterminate {
  opacity: 1;
  box-shadow: calc(var(--handleOffset) / 2) 0 0 2px var(--color-base-200) inset, calc(var(--handleOffset) / -2) 0 0 2px var(--color-base-200) inset, 0 0 0 2px var(--color-base-200) inset;
}
.toggle:disabled {
  cursor: not-allowed;
  background: transparent;
  opacity: 0.4;
  --toggleHandleBorder: 0 0 0 3px var(--color-neutral-900) inset,
    var(--handleOffsetCalculator) 0 0 3px var(--color-neutral-900) inset;
}

.btn-primary {
  background-color: var(--color-primary-500);
  border-color: var(--color-primary-500);
  color: white;
}
.btn-primary:hover {
  background-color: var(--color-primary-600);
  border-color: var(--color-primary-600);
}
.btn-primary:focus-visible {
  outline: 2px solid var(--color-primary-600);
}
.btn-secondary {
  background-color: var(--color-secondary-300);
  border-color: var(--color-secondary-300);
}
.btn-secondary:hover {
  background-color: var(--color-secondary-400);
  border-color: var(--color-secondary-400);
}
.btn-secondary:focus-visible {
  outline: 2px solid var(--color-secondary-400);
}
.btn-accent {
  background-color: var(--color-accent-300);
  border-color: var(--color-accent-300);
  color: var(--color-neutral-1000);
}
.btn-accent:hover {
  background-color: var(--color-accent-400);
  border-color: var(--color-accent-400);
}
.btn-accent:focus-visible {
  outline: 2px solid var(--color-accent-400);
}
.btn-outline {
  border-color: currentColor;
  background: transparent;
}
.btn-outline:hover {
  background-color: var(--color-base-200);
  border-color: var(--color-base-200);
}
.btn-outline.btn-primary {
  color: var(--color-primary-700);
}
.btn-outline.btn-primary:hover {
  background-color: var(--color-primary-400);
  border-color: var(--color-primary-400);
  color: white;
}
.btn-outline.btn-secondary {
  color: var(--color-secondary-600);
}
.btn-outline.btn-secondary:hover {
  background-color: var(--color-secondary-300);
  border-color: var(--color-secondary-300);
  color: var(--color-neutral-1000);
}
.btn-outline.btn-accent {
  color: var(--color-accent-800);
}
.btn-outline.btn-accent:hover {
  background-color: var(--color-accent-300);
  border-color: var(--color-accent-300);
  color: var(--color-neutral-1000);
}

.checkbox {
  --ckb-bg-rgb: var(--color-neutral-900-rgb);
  --ckb-fg-rgb: var(--color-neutral-100-rgb);
  border: 1px solid rgba(var(--ckb-bg-rgb), 0.4);
}
.checkbox:focus {
  border: 1px solid rgba(var(--ckb-bg-rgb), 0.4);
}
.checkbox:focus-visible {
  outline: 2px solid rgb(var(--ckb-bg-rgb));
  outline-offset: 2px;
}
.checkbox:checked, .checkbox[checked=true], .checkbox[aria-checked=true] {
  background: rgb(var(--ckb-bg-rgb)) no-repeat;
  background-image: linear-gradient(-45deg, transparent 65%, rgba(var(--ckb-bg-rgb)) 65.99%), linear-gradient(45deg, transparent 75%, rgba(var(--ckb-bg-rgb)) 75.99%), linear-gradient(-45deg, rgba(var(--ckb-bg-rgb)) 40%, transparent 40.99%), linear-gradient(45deg, rgba(var(--ckb-bg-rgb)) 30%, rgba(var(--ckb-fg-rgb)) 30.99%, rgba(var(--ckb-fg-rgb)) 40%, transparent 40.99%), linear-gradient(-45deg, rgba(var(--ckb-fg-rgb)) 50%, rgba(var(--ckb-bg-rgb)) 50.99%);
}
.checkbox:indeterminate {
  background: rgb(var(--ckb-bg-rgb)) no-repeat;
  background-image: linear-gradient(90deg, transparent 80%, rgba(var(--ckb-bg-rgb)) 80%), linear-gradient(-90deg, transparent 80%, rgba(var(--ckb-bg-rgb)) 80%), linear-gradient(0deg, rgba(var(--ckb-bg-rgb)) 43%, rgba(var(--ckb-fg-rgb)) 43%, rgba(var(--ckb-fg-rgb)) 57%, rgba(var(--ckb-bg-rgb)) 57%);
}
.checkbox-primary {
  --ckb-bg-rgb: var(--color-primary-600-rgb);
  --ckb-fg-rgb: 255, 255, 255;
}
.checkbox-secondary {
  --ckb-bg-rgb: var(--color-secondary-500-rgb);
  --ckb-fg-rgb: var(--color-neutral-900-rgb);
}
.checkbox-accent {
  --ckb-bg-rgb: var(--color-accent-400-rgb);
  --ckb-fg-rgb: var(--color-neutral-900-rgb);
}

.divider {
  --dv-bg: rgba(var(--color-neutral-900-rgb), 0.2);
}
.divider::before, .divider::after {
  background: var(--dv-bg);
}
.divider-primary {
  --dv-bg: rgba(var(--color-primary-rgb), 0.2);
}
.divider-secondary {
  --dv-bg: rgba(var(--color-secondary-rgb), 0.2);
}
.divider-accent {
  --dv-bg: rgba(var(--color-accent-rgb), 0.2);
}

.file-input {
  border: 1px solid rgba(var(--color-neutral-900-rgb), 0.3);
  background: rgba(var(--color-base-200-rgb), 1);
}
.file-input::file-selector-button, .file-input::-webkit-file-upload-button {
  background: rgba(var(--color-base-300-rgb), 0.75);
  border: 1px solid rgba(var(--color-base-300-rgb), 0.75);
}
.file-input:focus {
  outline: 2px solid rgba(var(--color-neutral-900-rgb), 0.3);
  outline-offset: 2px;
}
.file-input:disabled, .file-input[disabled], .file-input-disabled {
  border: 1px solid rgba(var(--color-neutral-900-rgb), 0.1);
  background: rgba(var(--color-base-200-rgb), 0.3);
  color: rgba(var(--color-neutral-900-rgb), 0.3);
}
.file-input:disabled::placeholder, .file-input[disabled]::placeholder, .file-input-disabled::placeholder {
  color: rgba(var(--color-neutral-900-rgb), 0.3);
}
.file-input:disabled::file-selector-button, .file-input:disabled::-webkit-file-upload-button, .file-input[disabled]::file-selector-button, .file-input[disabled]::-webkit-file-upload-button, .file-input-disabled::file-selector-button, .file-input-disabled::-webkit-file-upload-button {
  background: rgba(var(--color-base-300-rgb), 0.25);
  border: 1px solid rgba(var(--color-base-300-rgb), 0.25);
}
.file-input-primary {
  border: 1px solid rgba(var(--color-primary-500-rgb), 1);
}
.file-input-primary:focus {
  outline: 2px solid rgba(var(--color-primary-500-rgb), 1);
}
.file-input-primary::file-selector-button, .file-input-primary::-webkit-file-upload-button {
  background: rgba(var(--color-primary-500-rgb), 1);
  border: 1px solid rgba(var(--color-primary-500-rgb), 1);
  color: white;
}
.file-input-secondary {
  border: 1px solid rgba(var(--color-secondary-400-rgb), 1);
}
.file-input-secondary:focus {
  outline: 2px solid rgba(var(--color-secondary-400-rgb), 1);
}
.file-input-secondary::file-selector-button, .file-input-secondary::-webkit-file-upload-button {
  background: rgba(var(--color-secondary-400-rgb), 1);
  border: 1px solid rgba(var(--color-secondary-400-rgb), 1);
  color: var(--color-neutral-900-rgb);
}
.file-input-accent {
  border: 1px solid rgba(var(--color-accent-300-rgb), 1);
}
.file-input-accent:focus {
  outline: 2px solid rgba(var(--color-accent-300-rgb), 1);
}
.file-input-accent::file-selector-button, .file-input-accent::-webkit-file-upload-button {
  background: rgba(var(--color-accent-300-rgb), 1);
  border: 1px solid rgba(var(--color-accent-300-rgb), 1);
  color: var(--color-neutral-900-rgb);
}

.btn-circle {
  border-radius: 50%;
  aspect-ratio: 1/1;
  width: 3rem;
  height: 3rem;
}
.btn-circle-full {
  width: auto;
  height: auto;
}
.btn-square {
  aspect-ratio: 1/1;
  width: 3rem;
  height: 3rem;
}
.btn-square-full {
  width: auto;
  height: auto;
}
.btn-full {
  width: 100%;
}
.btn-sm {
  min-height: 2rem;
  padding: 0.25rem 0.5rem;
  font-size: var(--fs-300);
}
.btn-md {
  min-height: 3rem;
  padding: 0.5rem 0.75rem;
  font-size: var(--fs-400);
}
.btn-lg {
  min-height: 3rem;
  padding: 1rem 1.5rem;
  font-size: var(--fs-600);
}

.checkbox-xs {
  height: 1rem;
  width: 1rem;
}
.checkbox-sm {
  height: 1.25rem;
  width: 1.25rem;
}
.checkbox-md {
  height: 1.5rem;
  width: 1.5rem;
}
.checkbox-lg {
  height: 2rem;
  width: 2rem;
}

.divider-horizontal {
  margin: 0 0.25rem;
  height: auto;
  width: 0.25rem;
  flex-direction: column;
}
.divider-horizontal::before, .divider-horizontal::after {
  width: 2px;
  height: 100%;
}
.divider-vertical {
  flex-direction: row;
  margin: 0.25rem 0;
  height: 0.25rem;
  width: auto;
}
.divider-vertical::before, .divider-vertical::after {
  width: 100%;
  height: 2px;
}

.file-input-xs {
  padding-right: 0.5rem;
  font-size: var(--fs-200);
  line-height: 1.5;
  height: 1.5rem;
}
.file-input-xs::file-selector-button, .file-input-xs::-webkit-file-upload-button {
  margin-right: 0.5rem;
  height: 1.375rem;
  font-size: var(--fs-300);
}
.file-input-sm {
  padding-right: 0.75rem;
  font-size: var(--fs-300);
  line-height: 2;
  height: 2rem;
}
.file-input-sm::file-selector-button, .file-input-sm::-webkit-file-upload-button {
  margin-right: 0.75rem;
  height: 1.875rem;
  font-size: var(--fs-400);
}
.file-input-md {
  padding-right: 1rem;
  font-size: var(--fs-400);
  line-height: 2;
  height: 3rem;
}
.file-input-md::file-selector-button, .file-input-md::-webkit-file-upload-button {
  margin-right: 1rem;
  height: 2.875rem;
  font-size: var(--fs-400);
}
.file-input-lg {
  padding-right: 1.5rem;
  font-size: var(--fs-400);
  line-height: 2;
  height: 4rem;
}
.file-input-lg::file-selector-button, .file-input-lg::-webkit-file-upload-button {
  margin-right: 1.5rem;
  height: 3.875rem;
  font-size: var(--fs-500);
}

.loading-xs {
  width: 1rem;
}
.loading-sm {
  width: 1.25rem;
}
.loading-md {
  width: 1.5rem;
}
.loading-lg {
  width: 2.5rem;
}

:where(.toast) {
  right: 0;
  left: auto;
  top: auto;
  bottom: 0;
}

:where(.toast-top) {
  top: 0;
  bottom: auto;
}

:where(.toast-left) {
  right: auto;
  left: 0;
}

:where(.toast-right) {
  right: 0;
  left: auto;
}

:where(.toast-bottom) {
  top: auto;
  bottom: 0;
}

/*# sourceMappingURL=main.css.map */
