@use "../../abstracts" as *;
@use "sass:map";

.btn {
  &-circle {
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: map.get($sizes, 10);
    height: map.get($sizes, 10);

    &-full {
      width: auto;
      height: auto;
    }
  }

  &-square {
    aspect-ratio: 1/1;
    width: map.get($sizes, 10);
    height: map.get($sizes, 10);

    &-full {
      width: auto;
      height: auto;
    }
  }

  &-full {
    width: 100%;
  }

  &-sm {
    min-height: map.get($sizes, 8);
    padding: map.get($sizes, 1) map.get($sizes, 2);
    font-size: var(--fs-300);
  }

  &-md {
    min-height: map.get($sizes, 10);
    padding: map.get($sizes, 2) map.get($sizes, 3);
    font-size: var(--fs-400);
  }

  &-lg {
    min-height: map.get($sizes, 10);
    padding: map.get($sizes, 4) map.get($sizes, 6);
    font-size: var(--fs-600);
  }
}
