.divider {
  &-horizontal {
    margin: 0 0.25rem;
    height: auto;
    width: 0.25rem;
    flex-direction: column;

    &::before,
    &::after {
      width: 2px;
      height: 100%;
    }
  }

  &-vertical {
    flex-direction: row;
    margin: 0.25rem 0;
    height: 0.25rem;
    width: auto;

    &::before,
    &::after {
      width: 100%;
      height: 2px;
    }
  }
}
