:where(.toast) {
  right: 0;
  left: auto;
  top: auto;
  bottom: 0;
}

:where(.toast-top) {
  top: 0;
  bottom: auto;
}

:where(.toast-left) {
  right: auto;
  left: 0;
}

:where(.toast-right) {
  right: 0;
  left: auto;
}

:where(.toast-bottom) {
  top: auto;
  bottom: 0;
}
