.tooltip {
  position: relative;
  display: inline-block;
  text-align: center;
  --tooltipTail: 0.1875rem;
  --tooltipColor: var(--color-base-300);
  --tooltipTextColor: var(--color-neutral-900);
  --tooltipTailOffset: calc(100% + 0.0625rem - var(--tooltipTail));

  &::before,
  &::after {
    opacity: 0;
    transition: 0.3s 0.1s ease-in-out;
    position: absolute;
  }

  &::before {
    max-width: 20rem;
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
    background: var(--tooltipColor);
    color: var(--tooltipTextColor);
    width: max-content;
  }

  &-open,
  &:hover,
  &:focus-visible,
  &:has(:focus-visible) {
    &::before,
    &::after {
      opacity: 1;
    }
  }

  &:not([data-tip]):hover {
    &::before,
    &::after {
      visibility: hidden;
      opacity: 0;
    }
  }

  &::after {
    content: "";
    border-style: solid;
    border-width: var(--tooltipTail, 0);
    width: 0;
    height: 0;
    display: block;
  }

  &,
  &-top {
    &::after {
      transform: translateX(-50%);
      border-color: var(--tooltipColor) transparent transparent transparent;
      top: auto;
      left: 50%;
      right: auto;
      bottom: var(--tooltipTailOffset);
    }
  }

  &-bottom {
    &::after {
      transform: translateX(-50%);
      border-color: transparent transparent var(--tooltipColor) transparent;
      top: var(--tooltipTailOffset);
      left: 50%;
      right: auto;
      bottom: auto;
    }
  }

  &-left {
    &::after {
      transform: translateY(-50%);
      border-color: transparent transparent transparent var(--tooltipColor);
      top: 50%;
      left: auto;
      right: var(--tooltipTailOffset);
      bottom: auto;
    }
  }

  &-right {
    &::after {
      transform: translateY(-50%);
      border-color: transparent var(--tooltipColor) transparent transparent;
      top: 50%;
      left: var(--tooltipTailOffset);
      right: auto;
      bottom: auto;
    }
  }
}
