.tooltip {
  &-open,
  &:hover,
  &:focus-visible,
  &:has(:focus-visible) {
    &::before,
    &::after {
      opacity: 1;
    }
  }

  &:not([data-tip]):hover {
    &::before,
    &::after {
      visibility: hidden;
      opacity: 0;
    }
  }

  &::after {
    content: "";
    border-style: solid;
    border-width: var(--tooltipTail, 0);
    width: 0;
    height: 0;
    display: block;
  }

  &,
  &-top {
    &::after {
      transform: translateX(-50%);
      border-color: var(--tooltipColor) transparent transparent transparent;
      top: auto;
      left: 50%;
      right: auto;
      bottom: var(--tooltipTailOffset);
    }
  }

  &-bottom {
    &::after {
      transform: translateX(-50%);
      border-color: transparent transparent var(--tooltipColor) transparent;
      top: var(--tooltipTailOffset);
      left: 50%;
      right: auto;
      bottom: auto;
    }
  }

  &-left {
    &::after {
      transform: translateY(-50%);
      border-color: transparent transparent transparent var(--tooltipColor);
      top: 50%;
      left: auto;
      right: var(--tooltipTailOffset);
      bottom: auto;
    }
  }

  &-right {
    &::after {
      transform: translateY(-50%);
      border-color: transparent var(--tooltipColor) transparent transparent;
      top: 50%;
      left: var(--tooltipTailOffset);
      right: auto;
      bottom: auto;
    }
  }
}
