$fonts: (
  "sans": (
    Montserrat,
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Ubuntu,
    Cantarell,
    Noto Sans,
    sans-serif,
  ),
  "title": (
    Rubik,
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Ubuntu,
    Cantarell,
    Noto Sans,
    sans-serif,
  ),
  "serif": (
    ui-serif,
    serif,
  ),
  "mono": (
    Dank Mono,
    Operator Mono,
    Inconsolata,
    Fira Mono,
    ui-monospace,
    SF Mono,
    Monaco,
    Droid Sans Mono,
    Source Code Pro,
    monospace,
  ),
);

$font-sizes: (
  "xs": (
    "900": 3.75rem,
    "800": 2.25rem,
    "700": 1.75rem,
    "600": 1.125rem,
    "500": 1.125rem,
    "400": 1rem,
    "300": 0.925rem,
    "200": 0.875rem,
  ),
  "lg": (
    "900": 3.75rem,
    "800": 3rem,
    "700": 1.75rem,
    "600": 1.3125rem,
    "500": 1.125rem,
    "400": 1rem,
    "300": 0.925rem,
    "200": 0.875rem,
  ),
);

$font-weights: (
  "default": 400,
  "medium": 500,
  "semibold": 600,
  "bold": 700,
);
