@use "../abstracts" as *;

.container {
  --padding: #{$container-min-margin-inline};
  --max-width: #{$container-max-width};

  padding-inline: var(--padding);
  max-width: var(--max-width);
  margin-inline: auto;

  @include mq(sm) {
    --padding: #{$container-min-margin-inline * 2};
  }
}

.container-narrow {
  --max-width: #{$container-max-width-narrow};
}

.container-wide {
  --max-width: #{$container-max-width-wide};
}

.container-full {
  --max-width: 100%;
}
