@use "../abstracts" as *;
@use "sass:map";

.even-columns {
  display: grid;
  gap: var(--grid-gap, map.get($sizes, 6));

  @include mq("md") {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

.auto-fit {
  display: grid;
  gap: var(--grid-gap, map.get($sizes, 6));
  grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
}

.flex {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--flex-column-gap, map.get($sizes, 6));
  row-gap: var(--flex-row-gap, calc(map.get($sizes, 6) / 2));
  width: fit-content;
}
