.breadcrumbs {
  --bc-rotate: 45deg;
  overflow-x: auto;
  padding-top: var(--size-2);
  padding-bottom: var(--size-2);

  & > ul,
  & > ol {
    display: flex;
    align-items: center;
    white-space: nowrap;

    & > li {
      display: flex;
      align-items: center;

      & > a {
        display: flex;
        cursor: pointer;
        align-items: center;

        &:hover {
          text-decoration: underline;
        }
      }

      & + *::before {
        content: "";
        margin-left: 0.5rem;
        margin-right: 0.75rem;
        display: block;
        width: 0.375rem;
        height: 0.375rem;
        transform: rotate(var(--bc-rotate));
        opacity: 0.5;
        border-top: 1px solid var(--color-neutral-600);
        border-right: 1px solid var(--color-neutral-600);
        background: transparent;
      }
    }
  }
}

[dir="rtl"] .breadcrumbs {
  --bc-rotate: -45deg;
}
