@use "../../abstracts/index" as *;
@use "sass:map";

.btn {
  animation: button-pop 0.2s ease-out;

  display: inline-flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  text-align: center;
  text-transform: uppercase;
  font-weight: map.get($font-weights, "medium");

  cursor: pointer;
  user-select: none;

  border-style: solid;
  border-width: 1px;
  border-radius: map.get($border-radii, 3);

  transition: all 0.2s ease-in-out;

  min-height: map.get($sizes, 10);
  padding: map.get($sizes, 2) map.get($sizes, 3);
  font-size: var(--fs-400);

  background-color: var(--color-base-200);
  border-color: var(--color-base-200);
  color: var(--color-neutral-900);

  box-shadow: var(--box-shadow-3);

  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;

  &:hover {
    background-color: var(--color-base-300);
    border-color: var(--color-base-300);
  }

  &:focus-visible {
    outline: 2px solid var(--color-neutral-800);
  }

  &:disabled {
    background: var(--color-neutral-200);
    border-color: var(--color-neutral-200);
    opacity: 0.35;
    cursor: not-allowed;
    pointer-events: none;
  }

  &:active:hover,
  &:active:focus {
    animation: button-pop 0s ease-out;
    transform: scale(0.95);
  }
}

@keyframes button-pop {
  0% {
    transform: scale(0.98);
  }

  40% {
    transform: scale(1.02);
  }

  100% {
    transform: scale(1);
  }
}
