.divider {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: stretch;
  white-space: nowrap;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  height: 0.25rem;

  &:not(:empty) {
    gap: 0.25rem;
  }

  &::before,
  &::after {
    content: "";
    flex-grow: 1;
    height: 2px;
    width: 100%;
  }
}
