.toast {
  display: flex;
  position: fixed;
  flex-direction: column;
  min-width: fit-content;
  white-space: nowrap;
  gap: 0.5rem;
  padding: 1rem;

  & > * {
    animation: toast-pop 0.3s ease-out;
  }
}

@keyframes toast-pop {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
