/* 
 * https://tailwindcss.com/docs/customizing-colors
 * https://github.com/tailwindlabs/tailwindcss/blob/master/src/public/colors.js
 */

$-clr-base-50: hsl(260, 40%, 98%);
$-clr-base-100: hsl(260, 40%, 96%);
$-clr-base-200: hsl(264, 32%, 91%);
$-clr-base-300: hsl(263, 27%, 84%);
$-clr-base-400: hsl(265, 20%, 65%);
$-clr-base-500: hsl(265, 16%, 47%);
$-clr-base-600: hsl(265, 19%, 35%);
$-clr-base-700: hsl(265, 25%, 27%);
$-clr-base-800: hsl(267, 33%, 17%);
$-clr-base-900: hsl(272, 47%, 11%);
$-clr-base-950: hsl(279, 84%, 5%);
