.card {
  --cd-max-width: 22rem;
  border-radius: 0.5rem;
  background-color: var(--base-100);
  min-width: 18rem;
  max-width: var(--cd-max-width);
  border: 1px solid var(--base-950);
  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  header {
    h2,
    h3 {
      font-size: var(--fs-600);
    }

    p {
      font-size: var(--fs-300);
      color: rgba(var(--base-950-rgb), 0.8);
    }
  }

  footer {
    display: flex;
    align-items: center;
  }
}
