// @tailwindcss/typography
@use "sass:math";
@use "sass:map";
@use "../utilities" as util;

@function em($px, $base) {
  @return #{math.div($px, $base)}em;
}

.prose {
  a {
    color: var(--primary-500);
    text-decoration: underline;
    font-weight: 500;
  }

  strong {
    font-weight: 500;
    color: var(--base-900);
  }

  p {
    margin-top: em(20, 16);
    margin-bottom: em(20, 16);
  }

  .lead {
    font-size: em(20, 16);
    line-height: 1.6;
    margin-top: em(24, 20);
    margin-bottom: em(24, 20);
  }

  blockquote {
    margin-top: em(32, 20);
    margin-bottom: em(32, 20);
    padding-left: em(20, 20);
    border-left: 4px solid var(--primary-500);
    border-radius: 0.75rem;
    padding-block: 0.5rem;
    font-style: italic;

    & > p {
      margin-block: 0.75rem;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  h1 {
    font-size: em(36, 16);
    margin-top: 0;
    margin-bottom: em(32, 36);
    line-height: 1.1;
  }

  h2 {
    font-size: em(24, 16);
    margin-top: em(48, 24);
    margin-bottom: em(24, 24);
    line-height: 1.3;
  }

  h3 {
    font-size: em(20, 16);
    margin-top: em(32, 20);
    margin-bottom: em(12, 20);
    line-height: 1.6;
  }

  h4 {
    margin-top: em(24, 16);
    margin-bottom: em(8, 16);
    line-height: 1.5;
  }

  img,
  video,
  figure {
    margin-top: em(32, 16);
    margin-bottom: em(32, 16);
  }

  figure > * {
    margin-top: 0;
    margin-bottom: 0;
  }

  figcaption {
    font-size: em(14, 16);
    line-height: 1.4;
    margin-top: em(12, 14);
  }

  code {
    font-size: em(14, 16);
    border-radius: 0.75rem;
    padding: 0.25rem 0.5rem;
    background: var(--color-base-200);
  }

  pre {
    font-size: em(14, 16);
    line-height: 1.7;
    margin-top: em(24, 14);
    margin-bottom: em(24, 14);
    border-radius: 0.75rem;
    padding: em(12, 14) em(16, 14);
    border: 1px solid rgba(var(--primary-900-rgb), 0.3);
    background: hsl(240, 16%, 15%);
    color: hsl(0, 0%, 85%);
    scrollbar-width: thin;
    overflow: auto;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    font-family: var(--ft-mono);

    &::-webkit-scrollbar {
      height: 6px;
    }

    code {
      display: block;
      width: 100%;
    }
  }

  li {
    margin-top: em(8, 16);
    margin-bottom: em(8, 16);
  }

  ol,
  ul {
    margin-top: em(20, 16);
    margin-bottom: em(20, 16);
    padding-left: em(26, 16);

    & > li {
      padding-left: em(6, 16);

      p {
        margin-top: em(12, 16);
        margin-bottom: em(12, 16);
      }

      & > *:first-child,
      & > *:last-child {
        margin-top: em(20, 16);
      }
    }
  }

  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin-top: em(12, 16);
    margin-bottom: em(12, 16);
  }

  hr {
    margin-top: em(48, 16);
    margin-bottom: em(48, 16);
  }

  hr + *,
  h2 + *,
  h3 + *,
  h4 + * {
    margin-top: 0;
  }

  table {
    font-size: em(14, 16);
    line-height: 1.7;
  }

  thead th {
    padding-right: em(8, 14);
    padding-bottom: em(8, 14);
    padding-left: em(8, 14);

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  tbody td,
  tfoot td {
    padding: em(8, 14) em(8, 14);

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}
