.switch,
.toggle {
  flex-shrink: 0;
  --handleOffset: 1.5rem;
  --handleOffsetCalculator: calc(var(--handleOffset) * -1);
  --toggleHandleBorder: 0 0;

  --sw-fg: var(--base-900);

  height: 1.5rem;
  width: 3rem;
  cursor: pointer;
  appearance: none;
  border: 1px solid var(--sw-fg);
  background: var(--sw-fg);
  border-radius: 999px;
  box-shadow:
    var(--handleOffsetCalculator) 0 0 2px var(--base-100) inset,
    0 0 0 2px var(--base-100) inset,
    var(--toggleHandleBorder);
  opacity: 0.5;

  [dir="rtl"] & {
    --handleOffsetCalculator: calc(var(--handleOffset) * 1);
  }

  &:not(.no-anim, :disabled) {
    transition: 0.3s ease-out;

    &:not(:checked) {
      &:hover {
        opacity: 0.75;
      }
    }
  }

  &:focus {
    box-shadow:
      var(--handleOffsetCalculator) 0 0 2px var(--base-100) inset,
      0 0 0 2px var(--base-100) inset,
      var(--toggleHandleBorder);
  }

  &:focus-visible {
    outline: 2px solid var(--sw-fg);
    outline-offset: 2px;
  }

  &:checked,
  &[checked="true"],
  &[aria-checked="true"] {
    --handleOffsetCalculator: var(--handleOffset);
    opacity: 1;
    background: var(--sw-fg);
    border-color: var(--sw-fg);
  }

  &:indeterminate {
    opacity: 1;
    box-shadow:
      calc(var(--handleOffset) / 2) 0 0 2px var(--base-100) inset,
      calc(var(--handleOffset) / -2) 0 0 2px var(--base-100) inset,
      0 0 0 2px var(--base-100) inset;
  }

  &:disabled {
    cursor: not-allowed;
    background: transparent;
    opacity: 0.25;
    --toggleHandleBorder: 0 0 0 3px var(--sw-fg) inset,
      var(--handleOffsetCalculator) 0 0 3px var(--sw-fg) inset;
  }

  &.primary {
    --sw-fg: var(--primary-500);
  }

  &.secondary {
    --sw-fg: var(--secondary-500);
  }

  &.success {
    --sw-fg: var(--success-500);
  }

  &.danger {
    --sw-fg: var(--danger-500);
  }

  &.info {
    --sw-fg: var(--info-500);
  }
}
