table,
.table {
  position: relative;
  width: 100%;
  text-align: left;
  border-radius: 1rem;
  font-size: 0.875rem;

  :where(th, td) {
    padding: 0.75rem 1rem;
    vertical-align: middle;
  }

  :where(thead, tbody) {
    :where(tr:not(:last-child), tr:first-child:last-child) {
      border-bottom: 1px solid rgba(var(--base-300-rgb), 0.7);
    }
  }

  :where(thead, tfoot) {
    font-size: 0.875rem;
    font-weight: 500;
    white-space: nowrap;
    color: rgba(var(--base-950-rgb), 0.8);
    background: rgba(var(--base-200-rgb), 0.8);
  }

  tr.active,
  tr.active:nth-child(even),
  &-zebra tbody tr:nth-child(even) {
    background: rgba(var(--base-200-rgb), 0.5);
  }

  tr.hover:hover,
  tr.hover:nth-child(even):hover {
    background: rgba(var(--base-200-rgb), 0.5);
  }

  :where(.table-pin-rows thead tr) {
    position: sticky;
    top: 0;
    background: var(--base-100);
    z-index: 1;
  }

  :where(.table-pin-rows tfoot tr) {
    position: sticky;
    bottom: 0;
    background: var(--base-100);
    z-index: 1;
  }

  :where(.table-pin-cols tr th) {
    position: sticky;
    left: 0;
    right: 0;
    background: var(--base-100);
  }

  &-zebra {
    tr.active,
    tr.active:nth-child(even),
    &-zebra tbody tr:nth-child(even) {
      background: var(--base-300);
    }

    tr.hover:hover,
    tr.hover:nth-child(even):hover {
      background: var(--base-300);
    }
  }

  &-zebra tobdy tr:nth-child(even) :where(.table-pin-cols tr th) {
    background: var(--base-200);
  }
}
