@use "../abstracts" as *;

:where(button, input:is([type="button"], [type="submit"], [type="reset"])),
:where(input[type="file"])::-webkit-file-upload-button,
:where(input[type="file"])::file-selector-button {
  animation: button-pop 0.2s ease-out;

  display: inline-flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  text-align: center;
  text-transform: uppercase;
  font-weight: $font-weight-semi-bold;

  cursor: pointer;
  user-select: none;

  border-style: solid;
  border-width: 1px;
  border-radius: $border-radius-3;

  transition: all 0.2s ease-in-out;

  padding: $size-2 $size-3;

  background-color: $color-base-200;
  border-color: $color-base-200;
  color: $color-neutral-900;

  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

button:hover {
  background-color: $color-base-300;
  border-color: $color-base-300;
}

button:focus-visible {
  outline: 2px solid $color-primary-400;
}

button:disabled {
  background: $color-neutral-200;
  border-color: $color-neutral-200;
  opacity: 0.35;
  cursor: not-allowed;
  pointer-events: none;
}

button:active:hover,
button:active:focus {
  animation: button-pop 0s ease-out;
  transform: scale(0.95);
}

@keyframes button-pop {
  0% {
    transform: scale(0.98);
  }

  40% {
    transform: scale(1.02);
  }

  100% {
    transform: scale(1);
  }
}
