@use "../abstracts" as *;

label {
  color: $body-text-color;
  font-family: $body-font-family;
  font-weight: $font-weight-semi-bold;
  font-size: $body-font-size;
}

input {
  font-size: $body-font-size;
  font-weight: $font-weight-medium;
  color: $body-text-color;
  background-color: $color-base-200;
  padding: $size-2 $size-3;
  border: 1px solid $color-neutral-500;
  border-radius: $border-radius-1;
  appearance: none;
}

input:focus {
  border: 1px solid $color-primary-500;
  outline: 2px solid transparent;
  box-shadow: $box-shadow-1;
}

:where(::placeholder) {
  color: $color-neutral-500;
  font-weight: $font-weight-medium;
}

:where(::-webkit-datetime-edit-fields-wrapper) {
  padding: 0;
}

:where(::-webkit-date-and-time-value) {
  min-height: 1.5em;
}

:where(
    ::-webkit-datetime-edit-year-field,
    ::-webkit-datetime-edit-month-field,
    ::-webkit-datetime-edit-day-field,
    ::-webkit-datetime-edit-hour-field,
    ::-webkit-datetime-edit-minute
  ) {
  padding-inline: 0;
}

:where([type="checkbox"], [type="radio"]) {
  appearance: none;
  padding: 0;
  print-color-adjust: exact;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  user-select: none;
  flex-shrink: 0;
  height: $size-4;
  width: $size-4;
  color: $color-primary-600;
  border: 1px solid $color-neutral-500;
}

:where([type="radio"]) {
  border-radius: 100%;
}

:where([type="checkbox"]:checked, [type="radio"]:checked) {
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

:where(
    [type="checkbox"]:hover,
    [type="checkbox"]:focus,
    [type="radio"]:hover,
    [type="radio"]:focus
  ) {
  border-color: transparent;
  background-color: currentColor;
}

:where([type="checkbox"]:indeterminate) {
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

:where([type="checkbox"]:indeterminate:hover) {
  border-color: transparent;
  background-color: currentColor;
}

:where([type="file"]) {
  background: unset;
  border-color: inherit;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  font-size: unset;
  line-height: inherit;
}

:where([type="file"]:focus) {
  outline: 1px auto -webkit-focus-ring-color;
}
