@use "../abstracts" as *;

@font-face {
  font-family: "Benzin";
  src:
    local("Benzin Bold"),
    local("Benzin"),
    url("/fonts/benz.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

:where(html) {
  scrollbar-color: var(--color-neutral-600);
  accent-color: var(--color-primary-500);
  caret-color: var(--color-primary-500);
}

body {
  font-family: $body-font-family;
  font-weight: $body-font-weight;
  font-size: $body-font-size;
  color: $body-text-color;
  background-color: $body-background-color;
  line-height: $body-line-height;
}

:focus-visible {
  outline-color: var(--color-primary-500);
}
