@use "../abstracts" as *;

@font-face {
  font-family: "benz";
  src: url("../../fonts/benz.woff2") format("woff2");
  font-display: swap;
}

:where(html) {
  scrollbar-color: $color-neutral-600;
  accent-color: $color-primary-500;
  caret-color: $color-primary-500;
}

body {
  font-family: $body-font-family;
  font-weight: $body-font-weight;
  font-size: $body-font-size;
  color: $body-text-color;
  background-color: $body-background-color;
  line-height: $body-line-height;
}

:focus-visible {
  outline-color: $color-primary-500;
}
