progress {
  height: 0.5rem;
  border-radius: 0.5rem;
  background: rgba(var(--color-base-200-rgb), 1);
  overflow: hidden;
  appearance: none;
  position: relative;
  width: 100%;

  &::-moz-progress-bar {
    background: currentColor;
  }

  &::-webkit-progress-bar {
    border-radius: 0.5rem;
    background: transparent;
  }

  &::-webkit-progress-value {
    border-radius: 0.5rem;
    background: currentColor;
  }

  &:indeterminate {
    background-image: repeating-linear-gradient(
      90deg,
      currentColor -1%,
      currentColor 10%,
      transparent 10%,
      transparent 90%
    );
    background-size: 200%;
    background-position-x: 15%;
    animation: progress-loading 5s ease-in-out infinite;

    &::-moz-progress-bar {
      background: transparent;
      background-image: repeating-linear-gradient(
        90deg,
        currentColor -1%,
        currentColor 10%,
        transparent 10%,
        transparent 90%
      );
      background-size: 200%;
      background-position-x: 15%;
      animation: progress-loading 5s ease-in-out infinite;
    }
  }
}

@keyframes progress-loading {
  50% {
    background-position-x: -115%;
  }
}
