@use "../../abstracts/index" as *;

.btn {
  &-primary {
    background-color: var(--color-primary-500);
    border-color: var(--color-primary-500);
    color: white;

    &:hover {
      background-color: var(--color-primary-600);
      border-color: var(--color-primary-600);
    }

    &:focus-visible {
      outline: 2px solid var(--color-primary-600);
    }
  }

  &-secondary {
    background-color: var(--color-secondary-300);
    border-color: var(--color-secondary-300);

    &:hover {
      background-color: var(--color-secondary-400);
      border-color: var(--color-secondary-400);
    }

    &:focus-visible {
      outline: 2px solid var(--color-secondary-400);
    }
  }

  &-accent {
    background-color: var(--color-accent-300);
    border-color: var(--color-accent-300);
    color: var(--color-neutral-1000);

    &:hover {
      background-color: var(--color-accent-400);
      border-color: var(--color-accent-400);
    }

    &:focus-visible {
      outline: 2px solid var(--color-accent-400);
    }
  }

  &-outline {
    border-color: currentColor;
    background: transparent;

    &:hover {
      background-color: var(--color-base-200);
      border-color: var(--color-base-200);
    }

    &.btn-primary {
      color: var(--color-primary-700);

      &:hover {
        background-color: var(--color-primary-400);
        border-color: var(--color-primary-400);
        color: white;
      }
    }

    &.btn-secondary {
      color: var(--color-secondary-600);

      &:hover {
        background-color: var(--color-secondary-300);
        border-color: var(--color-secondary-300);
        color: var(--color-neutral-1000);
      }
    }

    &.btn-accent {
      color: var(--color-accent-800);

      &:hover {
        background-color: var(--color-accent-300);
        border-color: var(--color-accent-300);
        color: var(--color-neutral-1000);
      }
    }
  }
}
