@use "../../abstracts/index" as *;

.btn {
  &-primary {
    background-color: var(--color-primary-400);
    border-color: var(--color-primary-400);
    color: white;

    &:hover {
      background-color: var(--color-primary-500);
      border-color: var(--color-primary-500);
    }

    &:focus-visible {
      outline: 2px solid var(--color-primary-500);
    }
  }

  &-secondary {
    background-color: var(--color-secondary-400);
    border-color: var(--color-secondary-400);
    color: var(--color-neutral-1000);

    &:hover {
      background-color: var(--color-secondary-500);
      border-color: var(--color-secondary-500);
    }

    &:focus-visible {
      outline: 2px solid var(--color-secondary-500);
    }
  }

  &-accent {
    background-color: var(--color-accent-400);
    border-color: var(--color-accent-400);
    color: var(--color-neutral-1000);

    &:hover {
      background-color: var(--color-accent-500);
      border-color: var(--color-accent-500);
    }

    &:focus-visible {
      outline: 2px solid var(--color-accent-500);
    }
  }

  &-danger {
    background-color: var(--color-danger-500);
    border-color: var(--color-danger-500);
    color: white;

    &:hover {
      background-color: var(--color-danger-300);
      border-color: var(--color-danger-300);
    }

    &:focus-visible {
      outline: 2px solid var(--color-danger-300);
    }
  }

  &-info {
    background-color: var(--color-info-500);
    border-color: var(--color-info-500);
    color: white;

    &:hover {
      background-color: var(--color-info-300);
      border-color: var(--color-info-300);
    }

    &:focus-visible {
      outline: 2px solid var(--color-info-300);
    }
  }

  &-outline {
    border-color: currentColor;
    background: transparent;

    &:hover {
      background-color: var(--color-base-200);
      border-color: var(--color-base-200);
    }

    &.btn-primary {
      color: var(--color-primary-700);

      &:hover {
        background-color: var(--color-primary-500);
        border-color: var(--color-primary-500);
        color: white;
      }
    }

    &.btn-secondary {
      color: var(--color-secondary-700);

      &:hover {
        background-color: var(--color-secondary-500);
        border-color: var(--color-secondary-500);
        color: var(--color-neutral-1000);
      }
    }

    &.btn-accent {
      color: var(--color-accent-700);

      &:hover {
        background-color: var(--color-accent-500);
        border-color: var(--color-accent-500);
        color: var(--color-neutral-1000);
      }
    }

    &.btn-danger {
      color: var(--color-danger-700);

      &:hover {
        background-color: var(--color-danger-500);
        border-color: var(--color-danger-500);
        color: white;
      }
    }

    &.btn-info {
      color: var(--color-info-700);

      &:hover {
        background-color: var(--color-info-500);
        border-color: var(--color-info-500);
        color: white;
      }
    }
  }
}
