@use "sass:meta";
@use "sass:math";
@use "sass:map";
@use "breakpoints" as *;
@use "colors" as *;
@use "tokens" as *;
@use "typography" as *;

@mixin mq($size) {
  @if map.has-key($breakpoints, $size) {
    $breakpoint: map-get($breakpoints, $size);
    @media screen and (min-width: $breakpoint) {
      @content;
    }
  } @else if meta.type-of($size) == number {
    @if math.is-unitless($size) {
      @error 'when using a number with @mq() make sure to include a unit';
    } @else {
      @media screen and (min-width: $size) {
        @content;
      }
    }
  } @else {
    @error 'the keyword #{$size} is not in the $breakpoints map (xs, sm, md, lg, xl)';
  }
}

@mixin heading($fs, $color: $color-neutral-900) {
  font-size: $fs;
  color: $color;

  font-family: $font-title;
  letter-spacing: $letter-spacing-loose;
  font-weight: $font-weight-bold;
  line-height: 1.1;
}

@mixin motionSafe() {
  @media (prefers-reduced-motion: no-preference) {
    @content;
  }
}

@mixin touch() {
  @media ((hover: none) and (pointer: coarse)) {
    @content;
  }
}

@mixin define-color($title, $color) {
  --color-#{$title}: #{$color};

  --color-#{$title}-hue: #{hue($color)};
  --color-#{$title}-lightness: #{lightness($color)};
  --color-#{$title}-saturation: #{saturation($color)};
  --color-#{$title}-alpha: #{alpha($color)};

  --color-#{$title}-rgb: #{red($color)}, #{green($color)}, #{blue($color)};
}
