@use "colors" as *;
@use "sizes" as *;
@use "typography" as *;

$active-theme: $light;
$enable-media-query-dark-mode: true;

$color-text-default: $color-neutral-700;
$color-background-default: $color-base-100;

// 0 = disabled
$letter-spacing-loose: 0;

$body-font-family: $font-sans;
$body-font-size: $font-size-400;
$body-line-height: 1.5;
$body-font-weight: $font-weight-default;
$body-text-color: $color-text-default;
$body-background-color: $color-background-default;

$hero-padding-block: clamp(15rem, 15vh, 20rem);
$section-padding-block: clamp(5rem, 10vh, 6rem);

$container-min-margin-inline: $size-4;
$container-max-width: 64rem;
$container-max-width-narrow: 40rem;
$container-max-width-wide: 75rem;
